<div class="cheeseburger-menu__navigation">
    <ul class="cheeseburger-menu__navigation-list">
        {% for item in tree %}
            <li class="cheeseburger-menu__navigation-list-item cheeseburger-menu__navigation-list-item--{{ item.class }}" data-drupal-selector="cheeseburger-menu--{{ item.class }}">
            {% if item.url %}
                <a href="{{ item.url }}">{{ item.title }}</a>
            {% else %}
                <span>{{ item.title }}</span>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

